In [1]:
import pandas as pd

In [2]:
#Load csv files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# read and store csv files into data frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# mergse both data sets into one
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [5]:
# check rows and colums
school_data_complete.shape

(39170, 11)

In [6]:
#calculate total number of unique schools
total_schools = school_data_complete['school_name'].nunique()
total_schools

15

In [7]:
#calculate total number of students
total_students = school_data_complete['student_name'].count()
total_students

39170

In [8]:
#calculate total budget
total_budget = (school_data_complete['budget'].sum())
total_budget

82932329558

In [9]:
#calculate the average math score
average_math_score = round(school_data_complete['math_score'].mean(), 2)
average_math_score

78.99

In [10]:
#calculate the average reading score
average_reading_score = round(school_data_complete['reading_score'].mean(), 2)
average_reading_score

81.88

In [11]:
#using code provided to calculate the percentage of students passing math (70 or higher)
passing_math_count = school_data_complete[(school_data_complete['math_score'] >= 70)].count()['student_name']
passing_math_percentage = round(passing_math_count / float(total_students) * 100, 2)
passing_math_percentage

74.98

In [12]:
# calculate the percentage of students passing reading (70 or higher)
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = round(passing_reading_count / float(total_students) * 100, 2)
passing_math_percentage

74.98

In [13]:
#Using the code provided to calculate the percentage of students passing both math and reading (70 or higher)
passing_math_reading_count = school_data_complete[
    (school_data_complete['math_score'] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = round(passing_math_reading_count /  float(total_students) * 100, 2)
overall_passing_rate

65.17

In [14]:
#creating a data frame to summarize the disctrict's key metrics
district_summary = {
    'Total Schools': [total_schools],
    'Total Students' : [total_students],
    'Total Budget' : [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score' : [average_reading_score],
    '% Passing Math' : [passing_math_percentage],
    '% Passing Reading' : [passing_reading_percentage],
    '% Overall Passing' : [overall_passing_rate] 
}

df = pd.DataFrame(district_summary)

df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,82932329558,78.99,81.88,74.98,85.81,65.17

In [15]:
# categorize by school type
school_types = school_data.set_index(['school_name'])['type']
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [16]:
# group by school name
school_name = school_data_complete.set_index('school_name').groupby('school_name')

In [17]:
# use school name groupings to find the total number of students per school
per_school_counts = school_data_complete.groupby(['school_name']).count()['student_name']
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [18]:
#calculate per school budget and per-capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [19]:
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [20]:
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [21]:
# calculate the average math scores per school 
per_school_math = round(school_data_complete.groupby(['school_name']).mean()['math_score'], 2)
per_school_math

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [22]:
# calculate the average reading scores per school 
per_school_reading = round(school_data_complete.groupby(['school_name']).mean()['reading_score'], 2)
per_school_reading

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [23]:
# find schools with passing math scores (70 or higher)
per_school_passing_math = round(school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/per_school_counts *100, 2)
per_school_passing_math

school_name
Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [24]:
# find schools with passing math scores (70 or higher)
per_school_passing_reading = round(school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/per_school_counts *100, 2)
per_school_passing_reading

school_name
Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [25]:
# find schools with passing math and reading scores (70 or higher)

passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]

In [26]:
#use provided code to find the overall passing rate
overall_passing_rate = round(passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100, 2)
overall_passing_rate

school_name
Bailey High School       54.64
Cabrera High School      91.33
Figueroa High School     53.20
Ford High School         54.29
Griffin High School      90.60
Hernandez High School    53.53
Holden High School       89.23
Huang High School        53.51
Johnson High School      53.54
Pena High School         90.54
Rodriguez High School    52.99
Shelton High School      89.89
Thomas High School       90.95
Wilson High School       90.58
Wright High School       90.33
Name: student_name, dtype: float64

In [27]:
# create data frame using the above to display eahc school's key metrics
school_summary = ({
    'School Type': school_types,
    'Total Students' : per_school_counts,
    'Total School Budget' : per_school_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score' : per_school_math,
    'Average Reading Score' : per_school_reading,
    '% Passing Math' : per_school_passing_math,
    '% Passing Reading' : per_school_passing_reading,
    '% Overall Passing' : overall_passing_rate 
})

In [28]:
per_school_summary = pd.DataFrame(school_summary)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,53.20
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,90.60
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,53.53
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,89.23
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,53.51
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,53.54
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,52.99
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,89.89
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,90.95
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,90.58
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,90.33

In [29]:
#sort by descending order to find highest performing schools
descending_summary = per_school_summary.sort_values(by='% Overall Passing', ascending=False)
descending_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,90.54
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,90.33
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,89.89
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,89.23
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,54.64
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,54.29
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,53.54
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,53.53
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,53.51
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,53.20
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,52.99

In [30]:
# display top five performing schools
highest_performing_schools = descending_summary.head(5)
highest_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,90.54

In [31]:
##sort by descending order to find lowest performing schools
ascending_summary = per_school_summary.sort_values(by= '% Overall Passing', ascending=True)
ascending_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,53.54
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,54.29
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,54.64
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,89.23
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,89.89
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,90.33
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,90.54
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,90.58
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,90.60
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,90.95
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33

In [32]:
#display top 5 lowester performing schools
lowest_performing_schools = ascending_summary.head(5)
lowest_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,53.54

In [33]:
#Use provided code to separate the data by grade and find mean
ninth_graders_math = school_data_complete[(school_data_complete["grade"] == "9th")].groupby('school_name')["math_score"].mean()
tenth_graders_math = school_data_complete[(school_data_complete["grade"] == "10th")].groupby('school_name')["math_score"].mean()
eleventh_graders_math = school_data_complete[(school_data_complete["grade"] == "11th")].groupby('school_name')["math_score"].mean()
twelfth_graders_math = school_data_complete[(school_data_complete["grade"] == "12th")].groupby('school_name')["math_score"].mean()

In [34]:
#create data fram for math_scores_by_grade by combining the above scores
math_scores = ({
    "9th": ninth_graders_math,
    "10th": tenth_graders_math,
    "11th": eleventh_graders_math,
    "12th": twelfth_graders_math
})


math_scores_by_grade = pd.DataFrame(math_scores)
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [35]:
#Use provided code to separate the data by grade and find mean
ninth_graders_reading = school_data_complete[(school_data_complete["grade"] == "9th")].groupby('school_name')["reading_score"].mean()
tenth_graders_reading = school_data_complete[(school_data_complete["grade"] == "10th")].groupby('school_name')["reading_score"].mean()
eleventh_graders_reading = school_data_complete[(school_data_complete["grade"] == "11th")].groupby('school_name')["reading_score"].mean()
twelfth_graders_reading = school_data_complete[(school_data_complete["grade"] == "12th")].groupby('school_name')["reading_score"].mean()

In [36]:
#create data fram for reading_scores_by_grade by combining the above scores
reading_scores = ({
    "9th": ninth_graders_reading,
    "10th": tenth_graders_reading,
    "11th": eleventh_graders_reading,
    "12th": twelfth_graders_reading
})


reading_scores_by_grade = pd.DataFrame(reading_scores)
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [37]:
# create bins
bins = [0, 585, 630, 645, 680]
category = ["<$585", "$585-630", "$630-645", "$645-680"]

In [38]:
school_spending_df = per_school_summary.copy()

In [39]:
#Use pd.cut to categorize spending by bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins, labels=category)

In [40]:
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,54.64,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,53.20,$630-645
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,54.29,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,90.60,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,53.53,$645-680
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,89.23,<$585
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,53.51,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,53.54,$645-680
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,90.54,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,52.99,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,89.89,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,90.95,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,90.58,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,90.33,<$585

In [41]:
# use code provided to measure mean scores per spending range
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [42]:
# assemble into dataframe
spending_summary = ({
    'Average Math Score' : spending_math_scores,
    'Average Reading Score' : spending_reading_scores,
    '% Passing Math' : spending_passing_math,
    '% Passing Reading' : spending_passing_reading,
    '% Overall Passing' : overall_passing_spending, 
    
})

spending_summary = pd.DataFrame(spending_summary)

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.452500,83.935000,93.460000,96.610000,90.367500
$585-630,81.900000,83.155000,87.132500,92.717500,81.417500
$630-645,78.517500,81.625000,73.485000,84.392500,62.857500
$645-680,76.996667,81.026667,66.163333,81.133333,53.526667

In [43]:
#establish size bins
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [44]:
#use pd.cut on the 'Total Students' column to categorize the dataframe by size bins
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)

In [45]:
size_summary =pd.DataFrame(per_school_summary["School Size"])
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,54.64,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,53.20,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,54.29,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,90.60,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,53.53,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,89.23,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,53.51,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,53.54,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,90.54,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,52.99,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,89.89,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,90.95,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,90.58,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,90.33,Medium (1000-2000)

In [46]:
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,54.64,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,53.20,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,54.29,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,90.60,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,53.53,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,89.23,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,53.51,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,53.54,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,90.54,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,52.99,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,89.89,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,90.95,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,90.58,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,90.33,Medium (1000-2000)

In [47]:
#use code provided to calculate averages for the desired columns
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [48]:
per_size_summary= ({
    'Average Math Score' : size_math_scores,
    'Average Reading Score' : size_reading_scores,
    '% Passing Math' : size_passing_math,
    '% Passing Reading' : size_passing_reading,
    '% Overall Passing' : size_overall_passing, 
    
})

size_summary = pd.DataFrame(per_size_summary)
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.820,83.92500,93.55000,96.10000,89.885
Medium (1000-2000),83.374,83.86800,93.59800,96.79000,90.620
Large (2000-5000),77.745,81.34375,69.96375,82.76625,58.285

In [49]:
#Group per_school_summary dataframe by "School Type" and average scores
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

In [50]:
# Assemble the new data by type into a DataFrame called `type_summary`
per_type_summary= ({
    'Average Math Score' : type_math_scores,
    'Average Reading Score' : type_reading_scores,
    '% Passing Math' : type_passing_math,
    '% Passing Reading' : type_passing_reading,
    '% Overall Passing' : type_overall_passing, 
    
})

type_summary = pd.DataFrame(per_type_summary)
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.472500,83.897500,93.620000,96.586250,90.431250
District,76.955714,80.965714,66.548571,80.798571,53.671429